.App {
  text-align: center;
  font-family: Oxygen;
  color: white;
  background-image: linear-gradient(90deg, rgb(30, 1, 64), rgba(203, 122, 8, 0.957));
  background-size: 150rem;
}

.header {
  padding: 3rem;
  margin: 3rem;
  font-size: 4rem;
}

.navbar {
  padding: 1rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.navbar-link {
  padding: 1rem;
  text-decoration: none;
  color: white;
}

.navbar-link:visited {
  color: white;
}

.preview-review-card {
  padding: 1rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 2px solid white; */
  border-radius: 20px;
  width: 20rem;
}

.category-card {
  color:white;
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 2px solid white; */
  border-radius: 20px;
  margin: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.category-link {
  text-align: center;
  text-decoration: none;
  padding: 1.5rem;
  font-weight: bold;
}

.category-link:visited {
  color: white;
  font-weight: bold;
  size: 3rem;
}

.review-card {
  color:white;
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 2px solid white; */
  border-radius: 20px;
  padding: 1rem;
  margin: 3rem;
}

.review-img {
  width:15rem;
}

.upvote-button {
  width: 2rem;
  margin: 0.75rem;
  background-color: white;
  border-radius: 5px;
  border-width: 0.3px;
}

.downvote-button {
  width: 2rem;
  margin: 0.75rem;
  background-color: white;
  border-radius: 5px;
  border-width: 0.3px;
}

.vote-box {
  display: flex;
  justify-content: center;
}

.comment-button {
  margin: 0.5rem;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  border-color:rgb(164, 164, 164);
  border-radius: 5px;
  border-width: 0.3px;
  font-family: Oxygen;
}

.comment-box {
  display: flex;
  justify-content: center;
}

.comment-list {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;

}

.comment-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 20px;
  margin: 3rem;
}

.post-comment-form {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.post-comment-input {
  width: 75%;
  height:3rem;
}

.newly-posted-comment {
  background-color: rgba(255, 255, 255, 0.1);
  border: 8px solid white;
  border-radius: 20px;
  margin: 1rem;
}

.delete-comment-button {
  margin: 0.75rem;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border-width: 0.3px;
  font-family: Oxygen;
  font-size: 0.75rem;
}

.delete-notification {
  border: 1px dotted rgb(228, 6, 173);
  width: auto;
  padding: 1rem;
}

.dropdown {
  /* border: 1px solid white;
  border-radius: 5px; */
  display:flex;
  align-items: center;
  margin: 3rem;
  padding-left: 1rem;
}

.dropdown select {
  background-color: white;
  height: 2rem;
  width: 7rem;
  align-items: center;
  border-radius: 5px;
  margin: 0.5rem;
  font-family: Oxygen;
}

.dropdown-button {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  height: 1.5rem;
  size: 0.25rem;
  font-family: Oxygen;
  border-radius: 5px;
}

.placeholder {
  width: 50rem;
  margin: 3rem;
  padding: 1rem;
}

@media (min-width: 600px) {

  .main {
    display: grid;
    grid-template-areas: 
     "header header"
     "nav main";
     grid-template-columns: 20%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .review-list-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .category-list {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

}
