.App {
  text-align: center;
  font-family: Quicksand;
}

.header {
  padding: 1rem;
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.navbar_link {
  padding: 1rem;
}

.preview_review_card {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.category_card {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
